@using Pharmacy.Models.EF;
@model THUOC
@{
    ViewBag.Title = "ShopSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headlink
{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="/Home/Index">Trang chủ</a> <span class="mx-2 mb-0">/</span> <a href="/Home/DanhMuc/@Model.LOAITHUOC.MaLoaiThuoc">@Model.LOAITHUOC.TenLoaiThuoc</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">@Model.TenThuoc</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <div class="border text-center">
                    <img src="~/Assets/images/@Model.UrlImage" alt="Image" class="img-fluid p-5">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-black">@Model.TenThuoc</h2>
                <p>
                    Thông tin về thuốc
                </p>


                <p><strong class="text-primary h4">@Model.Tien₫</strong></p>

                <form method="post" action="/Home/ThemSP">
                    <div class="mb-5">
                        <div class="input-group mb-3" style="max-width: 190px;">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                            </div>
                            <input type="hidden" name="id" value="@Model.MaThuoc" />
                            <input type="text" class="form-control text-center" name="soluong" value="1" placeholder=""
                                    aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>
                    </div>
                    <p><button type="submit" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary"><b>THÊM VÀO GIỎ HÀNG</b></button></p>
                </form>

                <div class="mt-5">
                    <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                               aria-controls="pills-home" aria-selected="true">Thông tin đặt hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                               aria-controls="pills-profile" aria-selected="false">Thông tin chi tiết</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <table class="table custom-table">
                                <thead>
                                <th>Mã</th>
                                <th>Thành phần</th>
                                <th>Đ/Vị</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">@Model.MaThuoc</th>
                                        <td>@Model.ThanhPhan</td>
                                        <td>@Model.DangThuoc</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                            <table class="table custom-table">

                                <tbody>
                                    <tr>
                                        <td>@Model.CongDung</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/PartialView/Comments.cshtml");